# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# node_modules and environment
node_modules/
.env
.vscode/
bun.lockb
dist/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE and build junk
*.log
*.lock
